.searchWrapper {
  padding: 0 1rem 0.5rem;
}
.searchInput {
  padding: 0.75rem;
  line-height: 1.4;
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #666666;
}
.emptySearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.emptySearchText {
  font-weight: 500;
}
.pokedex {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  list-style: none;
  padding: 1rem;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4));
}
@media (min-width: 560px) {
  .pokedex {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}
@media (min-width: 768px) {
  .pokedex {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}
.pokedexItem {
  margin: 0;
  position: relative;
  text-align: left;
  background-color: mintcream;
  border-radius: 0.5rem;
  clip-path: polygon(
    0% 0%,
    0% 0%,
    100% 0%,
    100% 0%,
    100% 100%,
    100% 100%,
    8% 100%,
    0 92%
  );
}
.pokemonLink {
  display: block;
  padding: 1.5rem;
  text-decoration: none;
  color: black;
}
.pokemonLink:hover > .pokemonImage {
  transform: scale(1.2);
}
.pokemonImage {
  position: relative;
  height: 0;
  background-color: #f2f2f2;
  padding-top: 100%;
  border-radius: 0.25rem;
}
.pokemonImageImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.pokemonDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0 0;
}
.pokemonDetailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pokemonDetailsTitle {
  font-size: 1rem;
}
.pokemonIndex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 0;
  color: white;
  background-color: dodgerblue;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
