.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.main {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2em 0;
  background-color: red;
}
.header {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  color: white;
  background-color: darkred;
  display: flex;
  justify-content: space-between;
  height: 4em;
  line-height: 4em;
  text-transform: capitalize;
}
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-link-item {
  display: inline-block;
}
.nav-link-text {
  display: block;
  color: white;
  opacity: 0.8;
  padding: 0 0.5em;
}
.site-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 0 0.5em;
}
.footer {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  height: 2em;
  line-height: 2em;
  color: white;
  text-align: center;
  background-color: black;
}
.disclaimer {
  font-size: 1em;
  margin: 0;
}
