.container {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}
.header {
  width: 100%;
  color: white;
  background-color: darkred;
  display: flex;
  justify-content: space-between;
  height: 4em;
  line-height: 4em;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-link-item {
  display: inline-block;
}
.nav-link-text {
  display: block;
  color: white;
  opacity: 0.8;
  padding: 0 0.5em;
}
.site-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}
.footer {
  width: 100%;
  height: 2em;
  line-height: 2em;
  color: white;
  text-align: center;
  background-color: black;
}
.disclaimer {
  font-size: 1em;
  margin: 0;
}
